<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bee1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,100}</string>
                <key>spriteSourceSize</key>
                <string>{48,100}</string>
                <key>textureRect</key>
                <string>{{548,1},{48,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bee2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,100}</string>
                <key>spriteSourceSize</key>
                <string>{48,100}</string>
                <key>textureRect</key>
                <string>{{598,1},{48,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doctor1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,100}</string>
                <key>spriteSourceSize</key>
                <string>{63,100}</string>
                <key>textureRect</key>
                <string>{{171,1},{63,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doctor2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,100}</string>
                <key>spriteSourceSize</key>
                <string>{63,100}</string>
                <key>textureRect</key>
                <string>{{236,1},{63,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doremon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,100}</string>
                <key>spriteSourceSize</key>
                <string>{44,100}</string>
                <key>textureRect</key>
                <string>{{648,1},{44,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doremon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,100}</string>
                <key>spriteSourceSize</key>
                <string>{44,100}</string>
                <key>textureRect</key>
                <string>{{694,1},{44,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyer1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{58,100}</string>
                <key>textureRect</key>
                <string>{{428,1},{58,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flyer2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,100}</string>
                <key>spriteSourceSize</key>
                <string>{58,100}</string>
                <key>textureRect</key>
                <string>{{488,1},{58,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gangter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,100}</string>
                <key>spriteSourceSize</key>
                <string>{61,100}</string>
                <key>textureRect</key>
                <string>{{365,1},{61,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gangter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,100}</string>
                <key>spriteSourceSize</key>
                <string>{62,100}</string>
                <key>textureRect</key>
                <string>{{301,1},{62,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juventus1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,100}</string>
                <key>spriteSourceSize</key>
                <string>{41,100}</string>
                <key>textureRect</key>
                <string>{{785,1},{41,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>juventus2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,100}</string>
                <key>spriteSourceSize</key>
                <string>{43,100}</string>
                <key>textureRect</key>
                <string>{{740,1},{43,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ninja2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,100}</string>
                <key>spriteSourceSize</key>
                <string>{83,100}</string>
                <key>textureRect</key>
                <string>{{86,1},{83,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>herospr.png</string>
            <key>size</key>
            <string>{827,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e2ab4c69f0e91cdf01d84e83238899:810c76e9f0716c149e75541a2d19e545:b66b98da8e58b2c7904002db911f8854$</string>
            <key>textureFileName</key>
            <string>herospr.png</string>
        </dict>
    </dict>
</plist>
