<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,90}</string>
                <key>spriteSourceSize</key>
                <string>{173,90}</string>
                <key>textureRect</key>
                <string>{{1201,652},{173,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,69}</string>
                <key>spriteSourceSize</key>
                <string>{137,69}</string>
                <key>textureRect</key>
                <string>{{1961,205},{137,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,126}</string>
                <key>spriteSourceSize</key>
                <string>{270,126}</string>
                <key>textureRect</key>
                <string>{{1874,525},{270,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,113}</string>
                <key>spriteSourceSize</key>
                <string>{247,113}</string>
                <key>textureRect</key>
                <string>{{1524,260},{247,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cloud5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{511,255}</string>
                <key>spriteSourceSize</key>
                <string>{511,255}</string>
                <key>textureRect</key>
                <string>{{509,388},{511,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{390,202}</string>
                <key>spriteSourceSize</key>
                <string>{390,202}</string>
                <key>textureRect</key>
                <string>{{1641,1},{390,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{603,257}</string>
                <key>spriteSourceSize</key>
                <string>{603,257}</string>
                <key>textureRect</key>
                <string>{{1036,1},{603,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,385}</string>
                <key>spriteSourceSize</key>
                <string>{525,385}</string>
                <key>textureRect</key>
                <string>{{509,1},{525,385}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireball2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,254}</string>
                <key>spriteSourceSize</key>
                <string>{486,254}</string>
                <key>textureRect</key>
                <string>{{1036,260},{486,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,791}</string>
                <key>spriteSourceSize</key>
                <string>{506,791}</string>
                <key>textureRect</key>
                <string>{{1,1},{506,791}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,318}</string>
                <key>spriteSourceSize</key>
                <string>{318,318}</string>
                <key>textureRect</key>
                <string>{{1641,205},{318,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,131}</string>
                <key>spriteSourceSize</key>
                <string>{381,131}</string>
                <key>textureRect</key>
                <string>{{509,645},{381,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,134}</string>
                <key>spriteSourceSize</key>
                <string>{335,134}</string>
                <key>textureRect</key>
                <string>{{1022,516},{335,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,143}</string>
                <key>spriteSourceSize</key>
                <string>{307,143}</string>
                <key>textureRect</key>
                <string>{{892,652},{307,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,233}</string>
                <key>spriteSourceSize</key>
                <string>{245,233}</string>
                <key>textureRect</key>
                <string>{{1359,516},{245,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,178}</string>
                <key>spriteSourceSize</key>
                <string>{266,178}</string>
                <key>textureRect</key>
                <string>{{1606,525},{266,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ufo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,120}</string>
                <key>spriteSourceSize</key>
                <string>{234,120}</string>
                <key>textureRect</key>
                <string>{{1606,705},{234,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>objspr.png</string>
            <key>size</key>
            <string>{2032,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf9092edc32d4cf87ce1f4b75a1395c4:39967162b07d70c8c32dc8a118b5def0:4d148628e2a8bf2fbacec6740cc7f955$</string>
            <key>textureFileName</key>
            <string>objspr.png</string>
        </dict>
    </dict>
</plist>
