<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>banana_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,52}</string>
                <key>spriteSourceSize</key>
                <string>{93,52}</string>
                <key>textureRect</key>
                <string>{{559,1},{93,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banana_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,52}</string>
                <key>spriteSourceSize</key>
                <string>{93,52}</string>
                <key>textureRect</key>
                <string>{{654,1},{93,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{69,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{421,1},{69,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{67,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{67,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ghost_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,75}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{123,1},{56,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ghost_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,75}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{200,1},{56,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ufo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,75}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{277,1},{56,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ufo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,65}</string>
                <key>spriteSourceSize</key>
                <string>{56,75}</string>
                <key>textureRect</key>
                <string>{{354,1},{56,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unicorn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{70,1},{51,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unicorn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,65}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{492,1},{53,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>petspr.png</string>
            <key>size</key>
            <string>{748,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a18e12c1358647e45900068f1f0bef9:1f6600996458c5d427dfd6b7a2a78112:926293baa4e41ad70257e494acc74133$</string>
            <key>textureFileName</key>
            <string>petspr.png</string>
        </dict>
    </dict>
</plist>
