<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heromask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,120}</string>
                <key>spriteSourceSize</key>
                <string>{77,120}</string>
                <key>textureRect</key>
                <string>{{1,517},{77,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroslot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,100}</string>
                <key>spriteSourceSize</key>
                <string>{490,100}</string>
                <key>textureRect</key>
                <string>{{80,517},{490,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selectedhero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,5}</string>
                <key>spriteSourceSize</key>
                <string>{64,5}</string>
                <key>textureRect</key>
                <string>{{1,639},{64,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shoppad.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{514,616}</string>
                <key>spriteSourceSize</key>
                <string>{514,616}</string>
                <key>textureRect</key>
                <string>{{1,1},{514,616}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wingslot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,100}</string>
                <key>spriteSourceSize</key>
                <string>{237,100}</string>
                <key>textureRect</key>
                <string>{{80,619},{237,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shopspr.png</string>
            <key>size</key>
            <string>{618,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:397cce9d2446b952d4213199d073c755:31b8a4fffe595aff899a48a883ab383d:95b2ffc689caa44f17e52c45015ac21c$</string>
            <key>textureFileName</key>
            <string>shopspr.png</string>
        </dict>
    </dict>
</plist>
