<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frames</key>
		<string>2</string>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>Unicorn</string>
		<key>alias</key>
		<string>unicorn</string>
		<key>price</key>
		<string>200</string>
		<key>img</key>
		<string>unicorn_1.png</string>
		<key>width</key>
		<string>75</string>
		<key>height</key>
		<string>75</string>
	</dict>
	<dict>
		<key>frames</key>
		<string>2</string>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Bat</string>
		<key>alias</key>
		<string>banana</string>
		<key>price</key>
		<string>400</string>
		<key>img</key>
		<string>banana_1.png</string>
		<key>width</key>
		<string>93</string>
		<key>height</key>
		<string>52</string>
	</dict>
	<dict>
		<key>frames</key>
		<string>2</string>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>Unicorn</string>
		<key>alias</key>
		<string>ghost</string>
		<key>price</key>
		<string>600</string>
		<key>img</key>
		<string>ghost_1.png</string>
		<key>width</key>
		<string>56</string>
		<key>height</key>
		<string>75</string>
	</dict>
	<dict>
		<key>frames</key>
		<string>2</string>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>Unicorn</string>
		<key>alias</key>
		<string>ufo</string>
		<key>price</key>
		<string>800</string>
		<key>img</key>
		<string>ufo_1.png</string>
		<key>width</key>
		<string>56</string>
		<key>height</key>
		<string>75</string>
	</dict>
	<dict>
		<key>frames</key>
		<string>2</string>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>Unicorn</string>
		<key>alias</key>
		<string>boss</string>
		<key>price</key>
		<string>1500</string>
		<key>img</key>
		<string>boss_1.png</string>
		<key>width</key>
		<string>75</string>
		<key>height</key>
		<string>75</string>
	</dict>
</array>
</plist>
